{% extends "layout.html" %}

{% block content %}

    <div class="about-container container-fluid">
        <div class="row about">
            <div class="col-9 col-md-9">
                <h2>welcome to nyanime!</h2>
                <p>this is an anime database based off of the much larger and more famous MyAnimeList database. this web application uses the Jikan REST API for all its data.</p>
                <br>
                <h3>why was this application made?</h3>
                <p>MyAnimeList is so full of information that is not really necessary for an average person who is just researching for something new to watch. due to this, nyanime made to just showcase the necessary details in a neater way than MyAnimeList. getting straight to the point, in a more presentable fashion.</p>
            </div>
            <div class="col-3 col-md-3 about-image">
                <img src="https://media.tenor.com/dCZy2OO_AbwAAAAi/tonton-tontonsticker.gif" alt="tonton hello wave">
            </div>
        </div>
        <div class="row about">
            <div class="col-3 col-md-3 about-image">
                <img src="https://media.tenor.com/y-aZthOqQNgAAAAi/tonton-tonton-friends.gif" alt="tonton hello wave" width="80%">
            </div>
            <div class="col-9 col-md-9">
                <h3>notes about this web application</h3>
                <p>home page: the 'top random genre' chart displays the highest scored animes of a different genre every time the page is loaded.</p>
                <p>anime page: if there is a " ¯_(ツ)_/¯ " under any topic, it means there is no info on that specific item from jikan/MyAnimeList.</p>
                <p>genres page: genre descriptions were not available through jikan, so they were copied from mynaimelist or made by me.</p>
                <p>numbers: scores, ranks, and popularities originate from MyAnimeList and rated by its millions of users.</p>
                <br>
                <p>slow page loads: because jikan has an api rate limit of 3 requests per second, in order to prevent the page from crashing, pauses were implemented so overcome that issue.</p>
            </div>
        </div>
        <div class="credits">
            <h3>nyanime was made with flask and uses <a href="https://jikan.moe/" target="_blank">JIKAN</a>, an API for <a href="MyAnimeList.net/" target="_blank">MyAnimeList</a>.</h3>
            <p>get to know more about the owner and their projects on: <a href="github.com/tinatrxn" target="_blank">♡ github ♡</a></p>
        </div>
    </div>

{% endblock content %}
