{% extends "layout.html" %}

{% block content %}

<div class="genres-container">
    <h1>Genres</h1>
    <div class="anime-scroller">
        {% for genre in all_genres[:16] %}
            <div class="details-card">
                <a href="{{ url_for('genre_page', id=genre.id )}}"> ♡ {{ genre.name.capitalize() }}</a>
            </div>
        {% endfor %}
    </div>
    <h1>Themes</h1>
    <div class="anime-scroller">
        {% for theme in all_genres[16:63] %}
            <div class="details-card">
                <a href="{{ url_for('genre_page', id=theme.id )}}"> ♡ {{ theme.name.title() }}</a>
            </div>
        {% endfor %}
    </div>
    <h1>Demographics</h1>
    <div class="anime-scroller">
        {% for demographic in all_genres[63:] %}
            <div class="details-card">
                <a href="{{ url_for('genre_page', id=demographic.id )}}"> ♡ {{ demographic.name.capitalize() }}</a>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}
